h1{
    text-align: center;
    font-size:90px;
    font-family: 'Alegreya', serif;
}
p{
    text-align: center;
    font-size: 40px;
    font-family:'Alegreya', serif;
}
.rounded{
    margin-top:8%;
}
.navbar{
    height:90px;
    border-color:red;
}
body{
    color:black;
    
}
.bio{
    text-align: center;
    font-size:25px;
    font-family: 'Alegreya', serif;

}